@font-face {
  font-family: playfair;
  src: url('/public/fonts/PlayfairDisplay-Medium.ttf');
}
*{
  font-family: "playfair" !important;
}
.App{
  /* position: relative; */
  background-color:#9d9aa5 ;
  height:100vh;
  align-content:center;
}
.iconbtn:hover{
  background-color: rgb(184, 183, 183) !important;
}
.updatecontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.updatecard{
  width: 100%;

}


